# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binaries
cmd/client/main
cmd/client/client
cmd/server/main
cmd/server/server

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work
go.work.sum

# IDEs directories
.idea
.vscode

# Environment files
client.env
server.env

# Containerlab lab directories and backup files
clab/*/clab*
*.clab.yml.bak
