<!DOCTYPE html>
<html lang="en">

<head>
    <title>Timestamps</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"
        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
        crossorigin="anonymous"></script>
</head>

<body>
    {{template "header"}}

    <hr>

    <table>
        <thead>
            <tr>
                <th>Snapshot ID</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {{range .}}
            <tr>
                <td>
                    <a href="" hx-get="snapshots" hx-vals='{"id":"{{.ID}}"}' hx-target="#snapshot"
                        hx-select="#snapshot-info">{{.ID}}</a>
                </td>
                <td>{{.Timestamp}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>

    <hr>

    <div id="snapshot"></div>
</body>

</html>
